.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  user-select: none;
}

#root {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #8291ff; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 2px solid #f1f1f1; /* creates padding around scroll thumb */
}